/*
* @Author: Marte
* @Date:   2018-05-08 15:02:51
* @Last Modified by:   Marte
* @Last Modified time: 2018-05-08 18:34:06
*/
/*

@charset "utf-8";

/* CSS Document */



.bar {

    right: 0;

    z-index: 10;

    height: 120px;

    padding-right: 10px;

    padding-left: 10px;

    background-color: #f7f7f8;

    -webkit-backface-visibility: hidden;

    backface-visibility: hidden;

}

.bar-nav {

    background-color: #fff;

    top:0;

}

.bar, .bar:after {

    position: absolute;

    left: 0;

}

.pull-left {

    float: left;

}

.button {

    border: 0px solid #f34336;

    color: #f34336;

    text-decoration: none;

    text-align: center;

    display: block;

    border-radius: 5px;

    line-height: 25pxrem;

    box-sizing: border-box;

    -webkit-appearance: none;

    -moz-appearance: none;

    -ms-appearance: none;

    appearance: none;

    background: 0 0;

    padding: 0 10px;

    margin: 0;

    height:27pxrem;

    white-space: nowrap;

    position: relative;

    text-overflow: ellipsis;

    font-size: 14px;

    font-family: inherit;

    cursor: pointer;

}

.bar .button {

    position: relative;

    top: 7px;

    z-index: 20;

    margin-top: 0;

    font-weight: 400;

}

.bar .button-nav.close {

    background: url(../image/tkc.png) no-repeat 50%;

    background-size: 50%;

}



.bar .button-link {

    top: 0;

    padding: 0;

    font-size: 16px;

    line-height: 120px;

    height: 120px;

    color: #f34336;

    border: 0;

}

.bar .button-link {

    min-width: 120px;

}

.bar .button.pull-left {

    margin-right: 10px;

}

.bar .button-nav.pull-left {

    // margin-left: -10px;

}
.bar .button-nav.pull-left img {
    width:90px;
    height:105px;
    padding:25px 10px 10px 10px;

}
.mfooter{
    width: 100%;
    height:80px;
    background:black;
    position:fixed;
    bottom:0px;
}
.mfooter ul{
    width: 100%;
}
.mfooter ul li{
    width: 25%;
    height:120px;
    float:left;
    text-align:center;
    font-size:20px;
    line-height:50px;
}
.mfooter ul li a{
  color:white;
  font-size:22px;
}
.mfooter ul li a img{
 width:80px;
 height:80px;
}


.icon-left{

    display: inline-block;

padding: 30px;

background: url(../image/ic_back.png) no-repeat center center;

-webkit-background-size: 40px;

background-size: 40px;

vertical-align: top;

    }

.bar .button-nav.pull-right {

    margin-right: -10px;

}

.bar .button.pull-right {

    margin-left: 10px;

}

.pull-right {

    float: right;

}

.Nav{

    position: absolute;

    display: block;

    width: 100%;
    height:120px;
    padding: 1px;

    margin: 0 -10px;

    font-size: 40px;

    font-weight: 500;

    line-height: 120px;

    color: #3d4145;

    text-align: right;
    padding-right:20px;
    white-space: nowrap;

}




.content, .page {

    position: absolute;

    top: 120px;

    right: 0;

    bottom:80px;

    left: 0;

}

.content {

    overflow: auto;
    width:640px;
    // height:120px;
    // background:red;
    margin:auto;
    -webkit-overflow-scrolling: touch;

}
.food{
    width:100%;
    height:300px;
}
.content ul{
    width:80%;
    margin-bottom:120px;
    margin:20px auto;

}

.content ul li{
    width:100%;
    // height:130px;
    float:left;
    margin-bottom:50px;
    // background:pink;
}

.content ul li p{
    padding:10px;
    font-size:22px;
    font-weight:800;

}
.content ul div{
    font-weight:800;
    letter-spacing:5px;

}
.divleft{
    float:left;
// width:30%;
    font-size:35px;

}
.divright{
    float:right;
    font-size:35px;
// width:30%;
line-height:120px;
}
.material{
        float:right;
font-size:25px;
line-height:40px;
text-align:right;
}

.divcontent{
    width:80%;
    height:60px;
    float: right;
    border:3px solid black;
    margin:auto;
    font-size:25px;
    font-weight:800;
    outline:none;
}
.divbtu{
    width:100%;
    height:80px;
    background: black;
    margin:auto;
    font-size:30px;
    font-weight:800;
    outline:none;
    color:white;
    text-align:center;
    line-height:80px;
}
.true{
    width: 40px;
    height:40px;
    margin-right:20px;
    position:relative;
    top:7px;
}
.add{
    display:inline-block;
    width:30px;
    height:30px;
    // margin:0px 5px;
}
.reduce{
    display:inline-block;
    width:30px;
    height:30px;

}
.inputnum{
    text-align:center;
    display:inline-block;
    width: 30px;
    height:30px;
    margin:0px 5px;
    position:relative;
    top:-5px;
}
.full-width-form1 .item-content1{
    width:22.4%;
    margin-left:1.3%;
    height: 100%;
    color:black;
    font-weight:700;
    // background:red;
    float:left;
    text-align:center;
    overflow: hidden;
    font-size:20px;
}
.full-width-form1 .item-content1 img{
    width:90%;
    height:125px;
    display:block;
    margin:auto;
    margin-bottom:5px;
}
.words{
    margin:40px 25px;
    font-size:30px;
    font-weight:800;

}
.imgs{
    width:91%;
    margin:10px auto;
    display:block;
}


.alert1{
    width: 100%;
    height:100%;
    // background:gray;
    position:fixed;
    // opacity:0.4;
    z-index:1;
    display:none;

}
.alert_content{
    width: 640px;
    margin:auto;
    height:500px;
    // position:fixed;
    z-index:2;
    display:none;

}
.alert_contenti{
    // width: 90%;
    padding:10px 0px 10px;
    background:#d5d5d5;
    margin:auto;
    z-index:11111111;
    position:relative;
    top:120px;
        width: 50%;
    float: right;
}
.alert_top p{
    width: 100%;
    color:black;
    font-weight:700;
    height:30px;
    margin:20px 20px;
    // line-height:120px;
    text-align:center;
}
.alert_top p a{
    width: 100%;
    display: block;
}
.alert_top img{
    display:block;
    float:left;
    width:30px;
    height:30px;
    margin-left:20px;
    margin-top:5px;
}
.alert_top i{
    display:block;
    height:30px;
    float:left;
    padding-left:5%;
    padding-top:2px;
    font-size:25px;
    letter-spacing:5px;
}
.erweima{
    width:300px;
    display:block;
    margin:auto;
    // position:relative;left:15%;
    padding:10px 0px;
}
select {
    outline:none;
}